starsector_log.md

# Large Total War Assets
*.pack
*.dat
*.bik

# Cloudflare Wrangler Local State
.wrangler/

# Build Manifests
**/build/
*.class
backend/stellar-ai-key.json
**/stellar-ai-key.json
gcp-sa-key.json
**/gcp-sa-key.json